.text-title {

  font-family: "Iceberg", cursive;


  
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  font-weight: 500;
  -webkit-background-clip: text;
}
