.text-title {
  /* background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  font-weight: 500;
  -webkit-background-clip: text; */

  /* font-family: 'Iceberg'; */
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;

  color: white;

 


  font-family: 'Press Start 2P';
 
  /* or 150% */

  text-align: center;


  color: #ffffff;

  /* or 100% */

  /* color: #fff3d5; */

  /* text-decoration-style: 1px solid #E9A800; */
  /* text-shadow: 10px 4px 30px rgba(255, 253, 212, 0.5); */
}
