/* .gradient2 {
  background: rgb(26, 26, 27);
  background: radial-gradient(58.33% 60.62% at 60.87% 68.33%, #353538 0%, #181819 100%);

  transition: background 500ms ease;
} */

.gradient3 {
  background: rgb(26, 26, 27);
  background: radial-gradient(58.33% 60.62% at 60.87% 68.33%, #353538 0%, #181819 100%);

  transition: background 500ms ease;
}
.gradient2 {
  background: rgb(26, 26, 27);
  background: radial-gradient(58.33% 60.62% at 60.87% 38.33%, #353538 0%, #181819 100%);

  animation: gradient-animation 0.6s ease-in-out alternate-reverse ;
}

@keyframes gradient-animation {
  0% {
    background: radial-gradient(38.33% 60.62% at 60.87% 38.33%, #353538 0%, #181819 100%)
   
  }
    15% {
    background: radial-gradient(40.33% 60.62% at 60.87% 42.33%, #353538 0%, #181819 100%)
   
  }
    25% {
    background: radial-gradient(42.33% 60.62% at 60.87% 48.33%, #353538 0%, #181819 100%)
   
  }

    50% {
    background: radial-gradient(48.33% 60.62% at 60.87% 53.33%, #353538 0%, #181819 100%)
   
  }
    70% {
    background: radial-gradient(52.33% 60.62% at 60.87% 58.33%, #353538 0%, #181819 100%)
   
  }
    80% {
    background: radial-gradient(55.33% 60.62% at 60.87% 62.33%, #353538 0%, #181819 100%)
   
  }

  100% {
    background: radial-gradient(58.33% 60.62% at 60.87% 68.33%, #353538 0%, #181819 100%);
  }
}