/* * {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

section {
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 300%;
  height: 100vh;
  display: flex;
 }



.header {
background-color: lightgray;
}
.first {
background-color: lightyellow;
}
.second {
background-color: lightblue;
} */
