@media screen and (min-width: 768px) {
  .about :first-child div {
    transform: translateY(0px);
  }

  .about :nth-child(2) div {
    transform: translateY(100px);
  }

  .columnDivider {
    border-right: 1px solid #f3d19e;
  }

  .about :nth-child(3) div {
    transform: translateY(200px);
    border: none;
  }
}

.subheading{
  font-weight: 500;
}