
.marquee{
	width: 100%;
	border-top: 1px solid #fff3d5;
	border-bottom: 1px solid #fff3d5;
	background-color: #000;
	padding: 3px 0px;
	margin-bottom: 2%;
}

.marquee div{
	display: flex;
	gap: 300px;
	justify-content: center;
	animation: animate 7s linear infinite;
	white-space: nowrap;
}

@keyframes animate{
	100%{
		-moz-transform: translate(-77% , 0);
		-webkit-transform: translate(-77% , 0);
		transform: translate(-77% , 0);
	}
	0%{
		-moz-transform: translate(77% , 0);
		-webkit-transform: translate(77% , 0);
		transform: translate(77% , 0);
	}
}
