/* @import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Monument Extended Regular';
  src: url('assets/fonts/MonumentExtended/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
  src: url('assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Monument Extended Regular', sans-serif;
    background-color: #000000;
  }
}
