@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Iceberg", cursive;
  background-color: black;
}

