:root {
  --primary-color: #d53a49;
  --secondary-color: #0d111a;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.gaming-card {
  height: 400px;
  width: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: white;
  background: var(--primary-color);
}
.gaming-card::before {
  content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 400' width='300' height='400'%3E%3Cstyle%3E.a%7Bfill:%230d111a%7D%3C/style%3E%3Cpath class='a' d='m-0.1 23h184.2l15.3-15.3h100.6v-7.7h-300z'/%3E%3C/svg%3E");
  position: absolute;
  top: 0;
}
.status-report {
  position: absolute;
  top: 3.5px;
  z-index: 3;
  padding: 0 30px;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.gaming-card .background-image {
  height: 100%;
  width: 100%;
  mix-blend-mode: color-burn;
}
.gaming-card .background-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1) opacity(0.3);
}
.gaming-card .card-content {
  --pos: 70%;

  position: absolute;
  top: var(--pos);
  transform: translateY(calc(var(--pos) * -1));
  padding: 15px 20px;
  z-index: 2;
  background: var(--secondary-color);
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.3));
}

.gaming-card:hover .card-content {
  transform: translateY(calc(var(--pos) * -5));
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
.gaming-card:hover .card-content h2 {
  font-size: 15px;
}
.gaming-card:hover .status-report {
  display: none;
}
.card-content {
  width: 100%;
}
.card-content h2 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: 2px;
}
.card-content .player-role,
.card-content .player-name {
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.player-role span,
.player-name span {
  font-weight: 600;
  color: var(--primary-color);
}
.card-content .player-role {
  position: absolute;
  z-index: 1;
  text-align: right;
  right: 20px;
  bottom: 0px;
  font-size: 10px;
}
.card-content::before {
  content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 11' width='300' height='11'%3E%3Cstyle%3E.a%7Bfill:%230d111a%7D%3C/style%3E%3Cpath class='a' d='m0 0h59l10.5 11.1h46.5l9.3-10.7h84.7l7.9 7.8h82.1v2.8h-300z'/%3E%3C/svg%3E");
  position: absolute;
  top: -17px;
  left: 0;
}
.card-content::after {
  content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 11' width='300' height='11'%3E%3Cstyle%3E.a%7Bfill:%230d111a%7D%3C/style%3E%3Cpath class='a' d='m0 3h71l8.1 8.1 220.9-0.1v-11h-300z'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  bottom: -16px;
}
.gaming-card:hover .card-footer {
  visibility: visible;
  /* transition: all 0.5s ease-in-out; */
  top: 60px;
}

.card-footer {
  position: absolute;
  top: 500px;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;  
  /* transition-delay: 0.3s; */
}

.card-footer button {
  width: 10rem;
  background: black;
  padding: 0.7rem 1rem;
}

.card-footer button:hover {
  shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-footer p {
  padding: 0px 16px;
}
